In [1]:
print("Hello, World!")

Hello, World!

In [3]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [5]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [7]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [9]:
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [11]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [13]:
print("Hello, World!") #This is a comment

Hello, World!

In [15]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [18]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [20]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [22]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [28]:
x = 4
x = "Sally"
print(x)

Sally

In [30]:
x = str(3)   
y = int(3)
z = float(3)

In [32]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [34]:
x = "John"
# is the same as
x = 'John'

In [36]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [38]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [40]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [43]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [45]:
x = "Python is awesome"
print(x)

Python is awesome

In [47]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [49]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [53]:
x = 5
y = 10
print(x + y)

15

In [55]:
x = 5
y = "John"
print(x, y)

5 John

In [57]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [59]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [61]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [63]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [65]:
x = 5
print(type(x))

<class 'int'>

In [67]:
x = 1 
y = 2.8 
z = 1j 
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [69]:
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [71]:
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [73]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [75]:
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [77]:
x = 1
y = 2.8
z = 1j  

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [79]:
import random

print(random.randrange(1, 10))

7

In [85]:
x = int(1) 
y = int(2.8)
z = int("3")
print(x,y,z)

1 2 3

In [87]:
print("Hello")
print('Hello')

Hello
Hello

In [89]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [91]:
a = "Hello"
print(a)

Hello

In [93]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [95]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [97]:
a = "Hello, World!"
print(a[1])

e

In [99]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [101]:
a = "Hello, World!"
print(len(a))

13

In [103]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [105]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [107]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [109]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [111]:
b = "Hello, World!"
print(b[2:5])

llo

In [113]:
b = "Hello, World!"
print(b[:5])

Hello

In [115]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [117]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [119]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [121]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [123]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [125]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [127]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [129]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [131]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [133]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [135]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [137]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [139]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [141]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [147]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.